

*{
  box-sizing: border-box;   /* setting the default width of all elements to include the padding and the border */
}



body{
    background-color: azure;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.page-container {
  margin-top: 60px; 
}

p{
    padding: 30px;
}

.modal-title{
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: center;
}


.modal-dialog{
  display:block;
  margin: 0 auto;
  text-align: center;
}



.name:hover{
    opacity: 70%;
    cursor: pointer;

}





